*{
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: 'PremierSans-Regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-color: rgb(26 199 255);
}

main{
    width: 53%;
    min-width: 100%;
    margin: 0 auto;
}

.header-image{
    margin-right: auto;
    margin-left: -20px;
    display: block;
    position: relative;
    width: 80%;
    object-fit: cover;
}

.header{
    background: rgb(26 199 255);
    padding: 20px;
    margin-top: 40px;
}

.name{
    text-align: center;
    background: rgb(255 255 255 / 40%);
    padding: 8px;
    border-radius: 4px;
}

.score{
    background-color: rgb(255 255 255 / 30%);
    margin-top: 10px;
    border-radius: 2px;
    padding: 20px;
}

.gameweek{
    text-align: center;
    background: black;
    color: springgreen;
    padding: 5px;
    border-radius: 0px 0px 8px 8px;
    width: 50%;
    position: relative;
    margin-bottom: 20px;
    right: -25%;
    margin-top: -20px;
}


.average{
    display: flex;
    flex-direction: column;
    font-size: 30px;
}


.average-select{
    background: rgb(255 255 255 / 30%);
    padding: 10px;
    width: 50%;
    border-radius: 4px;
    transform: scale(1.4);
    transition: 0.3s;
    font-weight: 600;
    
}


.below-average{
    font-size: 13px;
    text-align: center;
}

.gw4flexbox{
    display: flex;
    justify-content: space-between;
    text-align: center;
    justify-items: center;
    margin-bottom: 10px;
    gap: 50px;
}


.gw5-details{
    background-color: rgb(255 255 255 / 50%);
    margin-top: 10px;
    border-radius: 2px;
    padding: 20px;
}

.gw5-p{
    text-align: center;
    font-size: 14px;
}

.pick-team{
    display: inline-grid;
    grid-template-columns: 2fr 2fr;
    gap: 5px;
    width: 100%;
}

.gw5-options{
    background-color: springgreen;
    color: black;
    padding: 10px;
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.op{
    margin-top: 3px;
}

.fixtures-stats{
    margin-top: 3px;
    text-align: center;
    gap: 2px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-template-rows: auto;
    font-size: 12px;
    font-weight: 600;
}

.fix{
    background-color: rgb(255 255 255 / 70%);
    padding: 7px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2px;
}

.f-image{
    display: block;
    width: 100%;
    height: 100px;
    object-fit: fill;
    border-radius: 10px;
    padding: 5px;
}

.fantasy-imgdiv{
    background-color: rgb(255 255 255 / 130%);
    height: 120px;
    margin-bottom: 78px;
    z-index: -1;
    padding: 10px 0px;
}

.footer{
    background-color: rgb(255 255 255 / 200%);
    display: flex;
    color: rgba(0, 0, 0, 0.7);
    padding: 21px;
    flex-basis: max-content;
    flex-direction: row;
    gap: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    border-top: 2px solid gainsboro;
}

/*.hov:hover{
    background: springgreen;
    padding: 10px;
    width: 30px;
    height: 1px;
    border-radius: 4px;
    z-index: -1;
    margin-top: 2px;

}*/

.hov{
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

i{
    font-size: 20px;
}

.vertical{
    vertical-align: middle !important;
    padding: 0px 5px;
}

.bld{
    font-weight: bold;
    color: black;
}

@media screen and (max-width: 414px) {
    .average-select{
        width: 28%;
    }
    .header-image{
        width: 50%;
    }
    .gameweek {
        text-align: center;
        background: black;
        color: springgreen;
        padding: 5px;
        border-radius: 0px 0px 8px 8px;
        width: 33%;
        position: relative;
        margin-bottom: 20px;
        right: -30%;
        margin-top: -20px;
        font-size: 15px;
    }
    main{
       
        width: 92%;
    }
    .footer {
        background-color: rgb(255 255 255 / 200%);
        display: flex;
        color: rgba(0, 0, 0, 0.7);
        padding: 21px;
        flex-basis: max-content;
        flex-direction: row;
        gap: 50px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 9px;
        position: fixed;
        bottom: -40px;
        z-index: 2;
        border-top: 2px solid gainsboro;
        width: 100%;
        left: 0;
        margin-bottom: 25px;
        padding-bottom: 60px;
    }
    
    
}

@media screen and (max-width: 280px) {
    .below-average{
        font-size: 8px;
    }
    .average-select {
        background: rgb(255 255 255 / 30%);
        padding: 5px;
        width: 30%;
        border-radius: 4px;
        transform: scale(1.5);
        transition: 0.3s;
        font-weight: 600;
    }
    .gw4flexbox{
        gap: 20px;
    }
    .gameweek{
        font-size: 11px;
    }
    .gw5-options{
        font-size: 10px;
    }
    .gw5-p{
        font-size: 10px;
    }
    .fixtures-stats{
        font-size: 8px;
    }
    .footer {
        background-color: rgb(255 255 255 / 200%);
        display: flex;
        color: rgba(0, 0, 0, 0.7);
        padding: 21px;
        flex-basis: max-content;
        flex-direction: row;
        gap: 30px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 9px;
        position: fixed;
        bottom: 0;
        z-index: 2;
        border-top: 2px solid gainsboro;
        width: 100%;
        left: 0;
        margin-bottom: 0;
    }
}